@import url(./header.css);
@import url(./intro.css);
@import url(./experience.css);
@import url(./education.css);
@import url(./contact.css);

body {
    font-family: 'Fira Mono', Arial, sans-serif;
    margin: 0px;
    color: #000000;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p {
    margin: 0px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
